@font-face {
  font-family: 'Century-Gothic-Regular';
  src: url('../fonts/GOTHIC.ttf') format('truetype');
}
@font-face {
  font-family: 'Century-Gothic-Bold';
  src: url('../fonts/GOTHICB.ttf') format('truetype');
}
@font-face {
  font-family: 'Century-Gothic-Bolditalic';
  src: url('../fonts/GOTHICB.ttf') format('truetype');
}
@font-face {
  font-family: 'Century-Gothic-Italic';
  src: url('../fonts/GOTHICB.ttf') format('truetype');
}
header {
    background: #fff;
    height: 53px;
    position: fixed;
    width: 100%;
    z-index: 9;
    border-bottom: 1px solid #004eff;
    top: 0;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #333;
    font-weight: 700;
    padding: 8px;
    margin-top: 7px;
    margin-left: 10px;
    transition:all 0.5s;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #fff;
    font-weight: 700;
    background: #324266;
    border-radius: 11px;
    padding: 8px;
    margin-top: 7px;
}
#banner{
    width: 100%;
    /* height: 500px; */
    background: url(../img/banner.png);
    background-size: cover;
    background-position: center;
    margin-top: 52px;
}
#inicio{
    width: 100%;
    background: url(../img/our_home.png);
    background-size: cover;
    background-position: center;
}
.btn-default {
    color: #fff;
    font-weight: 700;
    background-color: #7c7c7c;
    border-color: #7c7c7c;
    transition:all 0.5s;
}
.textosinicio{
    padding: 50px;
    text-align: center;
    color: #004eff;
}
.textosinicio h1{
  font-family: 'Century-Gothic-Bold';
}
.textosinicio p{
    margin: 0 0 10px;
    font-size: 16px;
}
#servicios {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 52px;
}
.servicio {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 18px;
    color: #333;
    transition:all 0.5s;
}
.servicio:hover{
    margin-top: 20px;
    margin-bottom: 30px;
    color: #fff;
    background: #004eff;
    padding: 18px;
    border-radius: 11px;
}
#servicios h1 {
    font-size: 21px;
    font-weight: 700;
    color: #666;
}
#servicios h2{
    font-size: 17px;
}
#home{
    width: 100%;
    height: 680px;
    background: url(../img/bg_our_home.png);
    background-size: cover;
    background-position: center;
}
#descripcion{
    background: #00ba89;
}
.textosdescripcion {
    padding: 0 50px 50px 50px;
    text-align: left;
    color: #fff;
}
.textosdescripcion p{
  margin-bottom: 39px;
}
.personalmedico img{
  width: 254px;
}
#mision {
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 30px;
}
#mision h1 {
    font-size: 21px;
    text-align: center;
    font-weight: 700;
    color: #666;
}
#mision h2{
    font-size: 17px;
}
.textosmision{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 18px;
    color: #333;
    text-align: justify;
    transition:all 0.5s;
}
#galeria img{
  width: 100%;
}
#vision {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer{
    width: 100%;
    background: url(../img/footer.png);
    background-size: cover;
    background-position: center;
}
.textosfooter {
    text-align: right;
    padding-bottom: 24px;
}
.textosfooter h1 {
  color: #004eff;
  font-family: 'Century-Gothic-Bold';
}
.textosfooter h2{
  color: #004eff;
  font-family: 'Century-Gothic-Bold';
  margin-top: 8px;
}
.textosfooter p {
  margin: 0 0 10px;
  font-size: 16px;
  color: #636363;
}
.textosfooter span{
    font-size: 3rem;
}
.footerblue{
    background: #004eff;
    color: #fff;
    padding: 10px;
    text-align: center;
}
hr {
    margin-top: 15px;
    margin-bottom: 0;
    border: 0;
    border-top: 2px solid #666;
}

 /******** Galería pequeña home ********/

.carousel-wrap {
  margin: 0px 90px 15px 90px;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}


